@keyframes fadeOut {
    from{width: 85%;}
    to {width: 50%;}
  }
@keyframes fadeIn {
    0% { 
        width: 50%; 
        opacity: 0;
    }
    30%{
        height: 40px;
    }
    100% { 
        height: 100%;
        width: 100%;
        opacity: 1;
    }
}
@keyframes selectClassFadeIn{
    0% { 
        height: 0;
        opacity: 0;
    }
    50%{
        height: 25%;
    }
    100% { 
        height: 25%;
        opacity: 1;
    }
}
@keyframes appTopBarFadeIn{
    0% { 
        height: 0;
        opacity: 0;
    }
    100% { 
        height: 34%;
        opacity: 1;
    }
}
@keyframes appTopBarFadeInBoard{
    0% { 
        height: 0;
        opacity: 0;
    }
    100% { 
        height: 100%;
        opacity: 1;
    }
}
@keyframes appSelectButtonsFadeIn{
    0% { 
        height: 0;
        opacity: 0;
        width: 70%; 
    }

    100%{
        height: 66%;
        opacity: 1;
        width: 100%;
    }
    
}
@keyframes boardItem{
    0% { 
        height: 100%;
        width: 50%; 
        opacity: 0;
    }
    100% { 
        height: 100%;
        width: 87%;
        opacity: 1;
    }
}

/* 애니메이션 클래스 */
.fade-out-animation {
    animation: fadeOut 1s ease-in-out;
}
.fade-in-animation{
    animation: boardItem 1s ease-in-out forwards;
}