@import url('./utils/animation.css');
html{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    background-color: #dddddd;
    width: 100%;
    margin: 0%;
    
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
}
div{
    display: flex;
}
button {
    border: none;
    color: #fff;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
label{
    border: none;
    color: #fff;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
textarea {
    resize: none;
  }
button:hover{
    color: black;
    background-color: #bbbbbb;
}

button:disabled{
    color: black;
    background-color: #bbbbbb;
}
a{
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
ol{
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
h1{
    margin-left: 30px;
}
.select{
    background-color: black;
}
.topBar{
    height: 0;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    animation: fadeIn ease-in-out 2s forwards;
}
.topBar button{
    background-color: black;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s ease;
}
.topBar a{
    background-color: black;
    color: white;
    text-align: center;
    margin-left: auto;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
}

.topBar button:hover{
    border-bottom: 2px solid white;
}
.topBar a:hover {
    border-bottom: 2px solid white; /* 호버 시 흰색 밑줄로 변경 */
}

.seclectButtons{
    height: 0;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 2s ease-in-out 2s forwards;
}
.secretQnABoardSelector{
    display: flex;
}
.searchButtons{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.changeStatus {
    display: block;
}
.topLastBar{
    height: 0;
    opacity: 0;
    background-color: black;
    width: 100%;
    animation: fadeIn 1s ease-in-out 2s forwards;
}
.boardItem {
    justify-content: space-between;
}
.boardItem .views, .recommends, .date{
    margin-top: 0;
    margin-bottom: auto;
    border: 1px solid;
    border-radius: 4px;
}

.boardList{
    list-style-type: none;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}
.boardList a{
    opacity: 0;
    color: black;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.boardItem .title {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10%;
    box-sizing: border-box; /* 상위 컨테이너의 크기에 padding과 border를 포함시킵니다. */
    /* 다른 스타일 속성들도 추가할 수 있습니다. */

}
.boardItem .writer{
    margin-right: 20px;
}
.writerInfo{
    justify-content: end;
}
#secretCheckBox {
    appearance: none;
    display: none;
}
#secretCheckBox:checked + label{
    color: black;
    background-color: #bbbbbb;
}

#secretCheckBox + label::after {
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

#searchCheck {
    appearance: none;
    display: none;
}
#searchCheck:checked + label{
    color: black;
    background-color: #bbbbbb;
}

#searchCheck + label::after {
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .boardItem{
        font-size: 14px;
    }
    .boardItem .date{
        display: none;
    }
    .boardItem .title {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 33%;
        box-sizing: border-box; /* 상위 컨테이너의 크기에 padding과 border를 포함시킵니다. */
        /* 다른 스타일 속성들도 추가할 수 있습니다. */
    
    }
    #secretCheckBox + label {
        display: flex;
        cursor: pointer;
        width: 100%;
        justify-content: center;
    }
    #secretCheckBox:checked + label:hover{
        color: black;
        background-color: #bbbbbb;
    }
    
    .selectSortButton, .topLastBar, .DetailSearch{
        align-items: stretch;
        width: 100%;
    }
    .selectBoardButtons, .searchType{
        align-items: stretch;
        width: 100%;
        flex-direction: column;
    }
    .topLastBar > label {
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .DetailSearch > button {
        width: 100%;
    }
    .searchType > button {
        width: 100%;
    }
    .selectBoardButtons >button{
        width: 100%;
    }
    .selectSortButton >button{
        width: 100%;
    }
    #writePost{
        width: 50%;
    }
}